<html>
   <head></head>
   <body>

      <h1>Igra</h1>
      <h2>Igralec 1: {{plosca.igralec1}}</h2>
      <h2>Igralec 2: {{plosca.igralec2}}</h2>

      <form  method="post" action="/vnos">

        <label>Vnesi igralca </label> 	
         <select name="igralec">
            <option value="1" >1</option>
            <option value="2" >2</option>
         </select>

         <label>Vnesi stolpec: </label> 	
         <select name="koordinata_x">
            <option value="0" >1</option>
            <option value="1" >2</option>
            <option value="2" >3</option>
         </select>

         <label>Vnesi vrstico: </label>
         <select name="koordinata_y">
            <option value="0" >1</option>
            <option value="1" >2</option>
            <option value="2" >3</option>
         </select>

         <button>Potrdi</button>
      </form>

      <table>
         <tr>
            <td>{{plosca.polja[0][0]}}</td>
            <td>{{plosca.polja[0][1]}}</td>
            <td>{{plosca.polja[0][2]}}</td>
         </tr>
         <tr>
            <td>{{plosca.polja[1][0]}}</td>
            <td>{{plosca.polja[1][1]}}</td>
            <td>{{plosca.polja[1][2]}}</td>
         </tr>
         <tr>
            <td>{{plosca.polja[2][0]}}</td>
            <td>{{plosca.polja[2][1]}}</td>
            <td>{{plosca.polja[2][2]}}</td>
         </tr>
      </table>

   </body>
</html>